<!DOCTYPE html>
<html>
<head>
    <title>services/PIZZA-HAT</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>WAS</h1>
        </div>
    </header>

    <section id="showcase"> 
        <div class="container">
            <h1>
                Pizza Hat 
            </h1>
        </div>
    </section>
 
    <div class="container">
        <section id="main">
            <h1>Select Menus</h1>
            <div class="menu">
                <input class="select-button" type="button" value="select"/>
            </div>
        </section>


        <aside id="sidebar">
            <p>
                <p class = sub-topic>How to order Pizza</p> 1.Select Pizza <br/> 2.Waiting for delivery
            </p>
        </aside>    
    </div>

    <footer id="main-footer">
        <p>
            Copyright &copy; 2018 WAS - Automation for Web Microservices Project
        </p>
    </footer>

</body>

</html>