<!DOCTYPE html>
<html>
    <head>
<title>test</title>
    </head>
    <body>
        <h1>main web connected</h1>
        <div id = "redering">
        </div>
        <input id = "next" type="button" value="next"/>
    </body>
    <script>
        var ServerSocket = new WebSocket(
        'ws://' + window.location.host +
        '/main-user/');

        ServerSocket.onmessage = function(e) {
            console.log('ok');
        };
    
        ServerSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById("next").onclick = function () {
            document.getElementById("redering").innerHTML = "Clicked";
            ServerSocket.send(JSON.stringify({
            'message': 'Hello World!!!!'
            }));
        };
    
    </script>
</html>